@tailwind base;
@tailwind components;
@tailwind utilities;
body { @apply bg-slate-100 text-slate-900; }
input,select,textarea { @apply border rounded p-2 w-full; }
button { @apply bg-blue-600 text-white rounded px-3 py-2; }
